// -------------- IMPORTANT DO NOT DELETE (Bootstrap Work) -------------- //
@import '../node_modules/font-awesome/css/font-awesome.css';

// -------------- Start Here -------------- //
.main-container {
  height: 100%;
  font-size: 16px;
}

.body-background-dk {
  background-color: #2d3436;
  color: #dfe6e9;
}

.navbar-background-dk {
  background-color: #232837;
}